node_modules/
problems_db/
.gitignore
views/whiteboard.ejs
views/join.ejs
views/rating.ejs
views/question.ejs
views/score.ejs
views/video.ejs
public/join.js
public/rating.js
views/screen_share.ejs
views/chat.ejs
public/join.css
public/score.css
public/styles.css

